body {
	background-color: #000;
	font-family: helvetica;
}
.player {
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 50px;
}
.player p {
	position: absolute;
	margin: 0;
	margin-top: 2px;
	padding: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #FFF;
}
.container {
	width: 600px;
	height: 400px;
	margin: auto;
	position: relative;
}
.container > div {
	float: left;
}
.button {
	padding: 15px;
	line-height: 1;
	border-radius: 10px;
	background-color: #000;
	color: #FFF;
	width: initial;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	box-shadow: 3px 3px 10px #ADADAD;
	display: none;
	z-index: 10;
}
.selectorWindow {
	width: 100px;
	height: 400px;
	overflow: scroll;
}
.selector {
	background-color: #40B0D1;
	color: #FFF;
	position: relative;
	height: 40px;
	text-align: center;
	cursor: pointer;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	box-sizing: border-box;
}
.selector:last-child {
	border-bottom: 1px solid #FFF;
}
.selector p {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
}
.startButton:hover,
.selector:hover {
	opacity: 0.7;
}
.viewerWindow {
	position: relative;
	height: 400px;
	width: 500px;
	background-color: #FFF;
}
#ball {
	position: absolute;
}