/* Base styles */
body {
	background-color: #000;
}
.player {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50px;
}
.defence {
	background-color: #FF9900;
}
.offence {
	background-color: #389944;
}
.ballCarrier {
	background-color: #384D99;
}
.container {
	width: 500px;
	height: 400px;
	margin: auto;
	background-color: #FFF;
	position: relative;
}
.startButton {
	padding: 15px;
	line-height: 1;
	border-radius: 10px;
	background-color: #000;
	color: #FFF;
	position: absolute;
	font-family: helvetica;
	width: initial;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	box-shadow: 3px 3px 10px #ADADAD;
}
.startButton:hover {
	opacity: 0.7;
}
/* End of base styles */

/* Scoring play styles*/
#defence1 {
	top: 50px;
	left: 50px;
}

#defence2 {
	top: 50px;
	left: 225px;
}

#defence3 {
	top: 50px;
	left: 400px;
}

#offence1 {
	top: 300px;
	left: 50px;
}

#offence2 {
	top: 300px;
	left: 225px;
}

#offence3 {
	top: 300px;
	left: 400px;
}
/* End of scroing play styles */